body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

#game-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.ball {
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    cursor: pointer;
}